<a href="https://colab.research.google.com/github/shivang915/BCS_109/blob/master/HW10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns

df = pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/us-weather-history/KMDW.csv")
df.head()

       date  actual_mean_temp  ...  average_precipitation  record_precipitation
0  2014-7-1                76  ...                   0.11                  1.23
1  2014-7-2                66  ...                   0.10                  2.50
2  2014-7-3                66  ...                   0.11                  1.38
3  2014-7-4                70  ...                   0.11                  0.94
4  2014-7-5                71  ...                   0.13                  1.18

[5 rows x 13 columns]

In [8]:
#stats for data set
df.describe()

       actual_mean_temp  ...  record_precipitation
count        365.000000  ...            365.000000
mean          51.049315  ...              1.674630
std           20.352735  ...              0.919481
min            1.000000  ...              0.340000
25%           35.000000  ...              1.080000
50%           53.000000  ...              1.410000
75%           70.000000  ...              2.050000
max           83.000000  ...              6.160000

[8 rows x 12 columns]

In [ ]:
#check for nulls

df.isnull().sum()

In [ ]:
#heatmap
corr = df.corr()
fig, ax = plt.subplots(figsize = (10,10))
sns.heatmap(data=corr, square=True, annot=True, cbar = True, ax = ax)

In [ ]:
df.nunique()

In [ ]:
sns.factorplot(x='actual_mean_temp', data = df, kind = 'count', size = 3, aspect = 1.)
sns.factorplot(x='actual_max_temp', data = df, kind = 'count', size = 3, aspect = 1.)

In [ ]:
sns.catplot(data=df, kind = 'box',  height = 4, aspect = 2)

In [ ]:
df.hist(bins=50, figsize=(15,10))
plt.show()

In [ ]:
normalized_df=(df-df.mean())/df.std()
for col in df:
    sns.kdeplot(normalized_df[col], shade=True)

In [ ]:
df.agg(['skew','kurt','sem'])

In [ ]:
 #Data science provides meaningful information based on large amounts of complex data or big data. Data science, or data-driven science, combines different fields of work in statistics and computation to interpret data for decision-making purposes.
#https://www.datarobot.com/wiki/data-science/

#Frame the problem- collect raw data- process data- explore data- perform in-depth analysis- communicate the results of the analysis
#https://www.kdnuggets.com/2016/03/data-science-process.html

In [ ]:
#Lists are mutable and tuples are not mutable
#scikit learn-Scikit-learn is a free machine learning library for Python. It features various algorithms like support vector machine, random forests, and k-neighbours,
#panda-  is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.
#numpy- works with arrays has functions for working in domain of linear algebra, fourier transform, and matrices.
#tensorflow- fast numerical computing
#tkinter - is python's de-facto standard GUI library